@font-face {
  font-family: lato;
  src: url('../assets/Lato-Light.ttf');
}

@font-face {
  font-family: grand;
  src: url('../assets/GrandifloraOne-Regular.ttf');
}

@font-face {
  font-family: signature;
  src: url('../assets/Signature\ United.woff');
}

* {
  text-align: center;
  margin: 0 auto;
  color: #FCFFF1;
}

* {
  scroll-behavior: smooth;
}

body {
  background-image: url("../assets/pns-backsplash.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header {
  height: 100vh;
  margin: 0 auto 50vh auto;
  padding: 20px;
  background-color: rgba(0, 14, 11, 0.8);
  font-family: lato;
}

.header h1 {
  color: #15F7F7;
  text-shadow: rgba(21,247,247) .5px .5px 30px;
  letter-spacing: 3px;
  font-family: signature;
  font-size: 20vw;
  font-weight: 200;
  padding: 20px;
  margin-top: 5vh;
}

.header h2 {
  font-family: grand;
  text-transform: uppercase;
  font-weight: 100;
  text-shadow: rgba(255,255,255,.9) 1px 1px 20px;
  font-size: 3vw;
  margin-top: -5vh;
}

@keyframes glowing {
  0%{ 
    opacity: 0.6;
  }
  15%{ 
    opacity: 0.8;
  }  
  50%{ 
    opacity: 1; 
  } 
  75%{ 
    opacity: 0.8;
  } 
  100%{ 
    opacity: 0.6; 
  } 
}

.nav-link {
  background-color: transparent;
  color: rgb(255, 57, 144);
  text-shadow: rgb(239, 168, 241) .5px .5px 30px;
  cursor: pointer;
  font-family: signature;
  font-size: 80px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  animation: glowing 6000ms infinite;
}

.nav-img {
  width: 100px;
}


.section {
  height: fit-content;
  margin: 0 auto 50vh auto;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgba(0, 14, 11, 0.87);
}

.section h1 {
  color: #15F7F7;
  text-shadow: rgba(21,247,247) .5px .5px 30px;
  letter-spacing: 3px;
  font-family: signature;
  font-size: 164px;
  font-weight: 200;
  padding: 20px;
  margin-bottom: -75px;
}

.flourish {
  width: 50%;
  margin-bottom: -50px;
}

.flourish2 {
  width: 50%;
  margin: 50px auto;
}

.section h2 {
  color: #15F7F7;
  font-family: grand;
  text-transform: uppercase;
  text-shadow: rgba(21,247,247) .5px .5px 30px;
  font-size: 36px;
  font-weight: 200;
  padding-top: 35px;
  padding-bottom: 20px;
}

.content-block {
  width: 75%;
  margin: 40px auto;
}

.content-block p {
  font-family: lato;
  text-shadow: rgb(255, 57, 144) 1px 1px 50px;
  font-size: 20px;
  line-height: 150%;
}

.content-block h3 {
  color: rgb(255, 57, 144);
  font-family: lato;
  text-transform: uppercase;
  text-shadow: white 5px 5px 50px;
  font-size: 20px;
  font-weight: 900;
  display: inline;
  padding-left: 2.5px;
  padding-right: 2.5px;
}

.content-block h4 {
  color: rgb(255, 57, 144);
  font-family: lato;
  text-transform: uppercase;
  text-shadow: white 5px 5px 50px;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 50px;
}

.sample {
  width: 33%;
  border: 1px solid #1B1212;
  border-radius: 12px;
  margin: 20px auto 50px auto;
  -webkit-box-shadow:0px 0px 105px 46px rgba(21,247,247,0.12);
  -moz-box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
  box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
}

.title-img {
  width: 50%;
  border: 1px solid #1B1212;
  border-radius: 12px;
  margin: 50px auto 50px auto;
  -webkit-box-shadow:0px 0px 105px 46px rgba(21,247,247,0.12);
  -moz-box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
  box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
}

.price-img {
  width: 50%;
  margin: 50px 10px 20px 10px;
  border-radius: 12px;
  -webkit-box-shadow:0px 0px 105px 46px rgba(21,247,247,0.12);
  -moz-box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
  box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid #15F7F7;
  border-radius: 12px;
  padding: 15px;
  background-color: #1B1212;
  -webkit-box-shadow:0px 0px 105px 46px rgba(21,247,247,0.12);
  -moz-box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
  box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.gallery-card {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: auto;
  margin: 20px auto 10px auto;
  padding: 10px;
  border-radius: 8%;
  background-color: #FCFFF1;
}

.gallery-img {
  width: 95%;
  border-radius: 8%;
  margin: 20px auto 10px auto;
}

.gallery-card p {
  color: #1B1212;
  width: 80%;
  font-size: 14px;
}

.order-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px 5px;
}

.preview-img {
  width: 85%;
}

.warning {
  width: 33%;
  margin: 100px auto -40px auto;
}

.order-item {
  color: #1B1212;
  background-color: rgb(241, 246, 247);
  border: 1px solid #1B1212;
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  max-width: 25%;
} 

.order-item h3 {
  color: #1B1212;
  font-family: grand;
  margin: 20px auto 10px auto;
}
.order-item-container label {
  color: #1B1212;
  font-family: grand;
}

.order-item-container fieldset {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 12px;
}

.address-bar {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 0px auto;
}

legend {
  color: #1B1212;
  font-family: grand;
  font-size: 12px;
  font-style: italic;
}

.fragrance-box {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.fragrance-box input {
  width: 20px;
}

.fragrance-box label {
  font-size: 12px;
}

form {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 66%;
  border: 1px solid #15F7F7;
  border-radius: 12px;
  padding: 15px;
  background-color: #1B1212;
  -webkit-box-shadow:0px 0px 105px 46px rgba(21,247,247,0.12);
  -moz-box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
  box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
}

form:hover{
  -webkit-box-shadow:0px 0px 155px 62px rgba(21,247,247,0.15);
  -moz-box-shadow: 0px 0px 155px 62px rgba(21,247,247,0.15);
  box-shadow: 0px 0px 155px 62px rgba(21,247,247,0.15);
}

form h3 {
  margin: 50px auto 20px auto;
}

input {
  width: 90%;
  margin: 20px auto 10px auto;
  height: 25px;
}

select {
  width: 90%;
  height: 25px;
  margin: 20px auto 10px auto;
}

textarea {
  width: 90%;
  margin: 20px auto 10px auto;
}

button {
  background-color: #15F7F7;
  border-radius: 12px;
  color: #1B1212;
  font-family: grand;
  font-size: 24px;
  text-transform: uppercase;
  padding: 8px;
  margin: 20px auto;
  width: 33%;
}

.social-container{
  width: 66%;
  margin:  auto;
  border: 1px solid #15F7F7;
  border-radius: 10px;
  padding: 20px;
  background-color: #1B1212;
  -webkit-box-shadow:0px 0px 105px 46px rgba(21,247,247,0.12);
  -moz-box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
  box-shadow: 0px 0px 105px 46px rgba(21,247,247,0.12);
}

.icon-row {
  width: 66%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-container:hover {
  -webkit-box-shadow:0px 0px 155px 62px rgba(21,247,247,0.15);
  -moz-box-shadow: 0px 0px 155px 62px rgba(21,247,247,0.15);
  box-shadow: 0px 0px 155px 62px rgba(21,247,247,0.15);
}

.social-icon {
  width: 150px;
  margin-bottom: -20px;
}

.social-icon:hover {
  filter: brightness(200%);
}

.social-container h2 {
  font-size: 18px;
}

.social-container a {
  text-decoration: none;
}

.section2 {
  height: fit-content;
  margin: 0 auto 10vh auto;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgba(0, 14, 11, 0.87);
}

.section2 h1 {
  color: #15F7F7;
  text-shadow: rgba(21,247,247) .5px .5px 30px;
  letter-spacing: 3px;
  font-family: signature;
  font-size: 164px;
  font-weight: 200;
  padding: 20px;
  margin-bottom: -75px;
}

.section2 h2 {
  color: #15F7F7;
  font-family: grand;
  text-transform: uppercase;
  text-shadow: rgba(21,247,247) .5px .5px 30px;
  font-size: 36px;
  font-weight: 200;
  padding: 20px;
}

.footer {
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 14, 11, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  font-family: lato;
}

.business-info {
  text-align: left;
}

.footer h3 {
  font-weight: 900;
  font-size: 22px;
  text-align: left;
}

.icon-row2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.social-icon2 {
  width: 55px;
  padding: 10px;
}

.social-icon2:hover {
  filter: brightness(200%);
}

.copyright {
  margin: auto;
  font-size: 16px;
}